.libs
.deps
*~
*.l[oa]
*.[oa]
*.py[co]
*.stamp
.dirstamp
ChangeLog
stamp-it
ABOUT-NLS
autom4te.cache
config.h
config.h.in
config.log
config.rpath
config.status
configure
intltool-extract*
intltool-merge*
intltool-modules*
intltool-update*
libtool
prepare.sh
stamp-h*
ltmain.sh
mkinstalldirs
config.guess
config.sub
Makefile
Makefile.in
install-sh
missing
depcomp
INSTALL
compile
py-compile
gnome-dvb-daemon
data/*.service
data/*.desktop
data/*.desktop.in
gnome-dvb-daemon-*.tar.*
defs.py
aclocal.m4
m4/*
!m4/python.m4
!m4/gstreamer.m4
po/*
!po/*.po
!po/ChangeLog
!po/POTFILES.in
!po/POTFILES.skip
!po/LINGUAS
